
@{
    ViewBag.Title = "Index";
}

<h2>Which one of my favorite activities would you like to learn more about?</h2>
<form name="activities" method="post">
    <select name="selection">
        <option name="Kiteboarding">Kiteboarding</option>
        <option name="Jogging">Jogging</option>
        <option name="Coding">Coding</option>
    </select>
    <button type="submit">Submit</button>
</form>

