@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>This is my first MVC application using ASP.NET</h1>
    <p class="lead">Here you will find random things that i enjoy</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kite Boarding</h2>
       <img src="~/Content/kite.jpg" style="width:50%;" />
    </div>
    <div class="col-md-4">
        <h2>Coding</h2>
        <img src="~/Content/code.jpg" style="width:50%;"/>
    </div>
    <div class="col-md-4">
        <h2>Jogging</h2>
        <img src="~/Content/jogging.jpg" style="width:50%;"/>
    </div>
</div>